<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body class="{{bodyClass}}">
  {{>navbar}}
  <div class="container">
    {{>flashErrors}}
    {{{ body }}}
  </div>

  <div class="container">
    {{>footer}}
  </div>
  

  <!-- Script files -->
  <!-- Font Awesome -->
  <script src="/javascripts/font-awesome.js"></script>
  <!-- Handlebars js -->
  <script type='text/javascript' src="/javascripts/handlebars-v4.0.11.js"></script>
  <!-- Jquery -->
  <script src="/javascripts/jquery-1.11.3.js"></script>
  <!-- JSlider -->
  <script src="/javascripts/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
  <!-- Bootstrap -->
  <script src="/javascripts/bootstrap.js"></script>
  <!-- Bootstrap Select -->
  <script src="/javascripts/bootstrap-select.js"></script>
  <script src="/javascripts/custom.js"></script>
</body>
</html>

