<div class="row">
    <div class="col-md-8 col-centered">
        <div class="checkout-wrapper border-around rad5 pad20 white-box">
            <div class="checkout-title title">
                <h1>Cancelled</h1>
            </div>
            <div class="checkout-description">
                Hi <strong>{{user.fullname}},</strong> <br>
                Your order cancelled. 
            </div>
            <div class="buttons">
                <a href="/shopping-bag" class="btn btn-danger full-width pad10">Shopping Bag</a>
                <a href="/" class="btn btn-primary full-width pad10">Go to home</a>
            </div>
        </div>
    </div>
</div>