<div class="admin-dashboard row">
    <div class="col-md-4">
        <a href="/dashboard/inventory">
            <div class="white-box border-around pad20 text-center">
                <div class="box-icon">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </div>
                <div class="box-description-wrapper">
                    <div class="box-desc-title">
                        Inventory
                    </div>
                    <div class="box-description">
                        Add, update or delete product(s)
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/dashboard/departments">
            <div class="white-box border-around pad20 text-center">
                <div class="box-icon">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                </div>
                <div class="box-description-wrapper">
                    <div class="box-desc-title">
                        Departments
                    </div>
                    <div class="box-description">
                        Add, update, or delete categories
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/dashboard/categories">
            <div class="white-box border-around pad20 text-center">
                <div class="box-icon">
                    <i class="fa fa-th" aria-hidden="true"></i>
                </div>
                <div class="box-description-wrapper">
                    <div class="box-desc-title">
                        Categories
                    </div>
                    <div class="box-description">
                        See messages
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/dashboard/sales">
            <div class="white-box border-around pad20 text-center">
                <div class="box-icon">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="box-description-wrapper">
                    <div class="box-desc-title">
                        Sales
                    </div>
                    <div class="box-description">
                        Check sales
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/dashboard/user-list">
            <div class="white-box border-around pad20 text-center">
                <div class="box-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="box-description-wrapper">
                    <div class="box-desc-title">
                        Users
                    </div>
                    <div class="box-description">
                        Add, update, delete user(s)
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/dashboard/discount-codes">
            <div class="white-box border-around pad20 text-center">
                <div class="box-icon">
                    <i class="fa fa-percent" aria-hidden="true"></i>
                </div>
                <div class="box-description-wrapper">
                    <div class="box-desc-title">
                        Discount Codes
                    </div>
                    <div class="box-description">
                        See messages
                    </div>
                </div>
            </div>
        </a>
    </div>
    
</div>

