<div class="row">
    <div class="col-md-2">
        {{>leftSidebar}}
    </div>
    <div class="col-md-10">
        <div class="searchParams border-bottom">
            {{pageName}}
        </div>
        <div class="row">
            {{>productList}}
        </div>
    </div>
</div>