<div class="white-box pad20">
    <form action="/dashboard/insert-category" method="POST">
        <div class="page-header admin-page-header title border-bottom">
            <div class="page-header-back-button">
                <a href="/dashboard/categories"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </div>
            <div class="page-header-content">
                <h1>Add a category</h1>
                <small class="title"></small>
            </div>
            <div class="page-header-action add-new-inventory mar20">
                <a href="/dashboard/categories" class="btn btn-default pad10">Cancel</a>
                <button type="submit" class="btn btn-primary pad10">Save</button>
            </div>
        </div>
        
        
        <div class="item-group">
            <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input type="text" class="form-control" name="categoryName">
            </div>
        </div>
    </form>
</div>


<br>




