<div class="white-box pad20">
    <div class="page-header admin-page-header title border-bottom">
        <div class="page-header-back-button">
            <a href="/dashboard"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
        <div class="page-header-content">
            <h1>{{title}}</h1>
            <small class="title"></small>
        </div>
        <div class="page-header-action add-new-inventory mar20">
            <a href="/dashboard/insert-inventory" class="btn btn-primary pad10">Add a new inventory</a>
        </div>
    </div>
    
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Full Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="bordered-tbody">
            {{#each users}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{fullname}}</td>
                    <td>
                        <a href="/dashboard/delete-user/{{_id}}">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>